In [7]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [8]:
# 1 - one-tail test

#H0: mean time for new machine >= mean of old machine    ??? old   new
#H1: mean time for new machine < mean of old machine

In [27]:
machine = pd.read_csv('machine2.txt', sep=' ')
machine.head()

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [10]:
old_mean = machine['Old_machine'].mean()
old_mean

43.230000000000004

In [11]:
new_mean = machine['New_machine'].mean()
new_mean

42.14

In [12]:
print('p value (single tailed): ',st.ttest_1samp(machine['New_machine'],43.23)[1]/2)

p value (single tailed):  0.0003483188038379669

In [13]:
# Reject H0 because  New machine is faster as p<0.05

In [14]:
# 2 - Matched Pairs Test

In [15]:
pokemon = pd.read_csv('pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [16]:
#H0: defence score = attack scores
#H1: defence score != attack score

In [17]:
st.ttest_rel(pokemon['Defense'], pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [18]:
#  Reject H0 because p<0.05

In [19]:
# Part 1

In [20]:
# H0: mean etching rate is = for all power (Watt)
# H1: mean etching rate is not the same for all power (Watt)
#significance level : p = 0.05


#Degrees of Freedom = nr features - 1 = 2 
#Error terms = sample or observed data  differs from the actual population (may not be 100% representative)
#Total DoF =  15 - 3 = 12

In [21]:
# Part 2

In [22]:
micro_pro = pd.read_excel('anova_lab_data.xlsx')
micro_pro

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [23]:
micro_pro['power_rate'] = micro_pro.groupby('Power ').cumcount() 

micro_pro_pivot = micro_pro.pivot(index='power_rate', columns='Power ', values='Etching Rate')
micro_pro_pivot.columns = ['Power_'+str(x) for x in micro_pro_pivot.columns.values]
micro_pro_pivot.head()

            Power_160 W  Power_180 W  Power_200 W
power_rate
0                  5.43         6.24         8.79
1                  5.71         6.71         9.20
2                  6.22         5.98         7.90
3                  6.01         5.66         8.15
4                  5.59         6.60         7.55

In [24]:
# ANOVA :
st.f_oneway(micro_pro_pivot['Power_160 W'],micro_pro_pivot['Power_180 W'],micro_pro_pivot['Power_200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [25]:
micro_pro_pivot.mean()

Power_160 W    5.792
Power_180 W    6.238
Power_200 W    8.318
dtype: float64

In [26]:
# What conclusions can you draw from the experiment and why?

# Reject H0 - so mean  rate is not the same for all power (Watt)